<!DOCTYPE html>
<html>
  <head>
    <title>Fenway Media</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"><%= image_tag "fenway.jpg", width: 80, height: 80, alt: "profile image", class: 'nav-img' %> </a>

  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/about">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/contact">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/portfolio">Portfolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/schedule">Schedule</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/services">Services</a>
  </li>
</ul> 
</nav>
  <body>
    <%= yield %>
  </body>
  <footer>
    <p><i class="far fa-copyright"></i>2018 Fenway Media All Rights Reserved</p>
  </footer>
</html>
